doctype html
html
	include head.pug
body
	include header_lender.pug

div(id='adbox')
	div(class='clearfix')
		div
			h2 Create #{name} asset
			h3 Your remaining balance: #{balance} NEM
			div(style='margin-left:20px; margin-top:20px')
				form(method='post' action='/createasset')
					each f in fields
						if f=='Debtor Address'
							p=f+":"
							input.form-control(name=f required value='TCGRAE-7DHO2E-OBSE5V-FUKVQC-AZ2ZLT-Z5FLKK-TYS5')
						else if f=='Interest Rate'
							p=f+' (annual):'
							input.form-control(name=f required value='50')
							span %
						else if f=='Maturity Date'
							p=f+":"
							input.form-control(name=f required value=maturity)
						else
							p=f+":"
							input.form-control(name=f required)
						br
					br
					input(type='submit', value='Create')

include footer.pug